/* a {
  color: red !important;
}

.a_one {
  color: blue !important;
}

.a_two {
  color: green !important;
} */

body {
  min-width: 320px;
}

.login_header {
  text-align: center;
  margin-top: 40px;
}
.login_title {
  font-size: 30px;
  font-weight: 700;
}
.login_body_wrap {
  max-width: 640px;
  margin: 0 auto;
  padding: 40px 20px 50px;
}
.login_tab_nav {
  padding: 0 0 10px;
  width: 100%;
  display: flex;
  align-items: center;
}
.login_selected1_wrap {
  padding: 12px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 35px;
  border: 1px solid #1c1c1c;
  border-bottom-color: #fff;
}
.login_selected1 {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #1c1c1c;
}
.login_selected2_wrap {
  padding: 12px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 35px;
  border: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom-color: #1c1c1c;
}
.login_selected2 {
  display: block;
  font-size: 15px;
  font-weight: 500;
  color: #ccc !important;
}
.login_inp {
  padding-top: 20px;
}
.inp-base_wrap {
  margin-bottom: 10px;
}
.inp-base {
  box-sizing: border-box;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  min-height: 55px;
  padding: 12px 20px;
}
.login_any_btn {
  margin-top: 17px;
}
.login_list {
  display: flex;
  justify-content: flex-end;
}
.login_findid .login_findpw {
  font-size: 15px;
  color: #000;
  font-weight: 600;
}
.login_findpw {
  padding: 0 20px;
}
.sign_up {
  font-size: 15px;
  color: #000;
  font-weight: 800;
}
.login_btn {
  margin-top: 48px;
}
.login_btn_in {
  background: #1c1c1c !important;
  border: 0 !important;
  color: #fff !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 30px;
  font-weight: 800;
  font-size: 15px;
  border-radius: 2px;
  box-sizing: border-box;
  min-height: 50px;
}
.login_sns {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.login_sns_na {
  width: 56px;
  height: auto;
}
.login_sns_ka {
  width: 56px;
  height: auto;
  margin: 0 20px;
}
.login_sns_goo {
  width: 56px;
  height: auto;
}
